/*
*
*@autor Luciano Macedo
*@Version 0.1
*/
@charset "UTF-8";
@font-face{
    font-family: 'FonteReforma';
    src: url("../fonts/TektonPro-Bold.otf");
}

body, 
html{
    width: 100%;
    color: black;
    margin: 0px;
    font-family: 'FonteReforma' , sans-serif;
    background: #fbf3d4;
    font-size: 12pt;   
}
.pagina{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: none;
    color:black;
}
.conteudo{
    width: 100%;
    box-sizing: border-box;
    margin: 50px 10px 10px 10px;
    font-size: 12pt;
    text-align: center;
    z-index: 0;
}
.cabecalho{
    position: fixed;
    width: 100%;
    height: 40px;
    line-height:210%;
    text-align: center;
    background: #085e55;
    font-size: 18pt;
    color: white;
    justify-content: center;
    box-sizing: border-box; 
    z-index: 1;
}
.botaoVoltar{
    float: left;
    color:white;
    line-height:150%;
    margin: -2px 0px 0px -7px;
}
.botaoMenu{
    float: right; 
    color:white;
    line-height:150%;
    margin: 2px 3px 0px 0px;
}
.card{
    border: 0px solid red;
    width: 100%; 
    border-radius: 10px;
    margin: 0px;
    box-sizing: border-box;  
    position: relative;
}
.card img{
    width: 100%;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
    border: 0px solid red;
}
.card figcaption{
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 95%;
    border: 0px solid blue;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20pt;
    text-align: right;
    line-height: 200px;
}
.botao{
    border: 0px solid red;
    width: 100%; 
    border-radius: 10px;
    margin: 0px;
    box-sizing: border-box;  
    position: relative;
 }
.botao img{
    width: 100%;
    box-shadow: 1px 1px 4px black;
    border-radius: 10px;
    border: 0px solid red;
}
.botao figcaption{
    position: absolute;
    top:0px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: white;
    width: 100%;
    height: 92%;
    border: 0px solid blue;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20pt;
    text-align: center;
    line-height: 70px;
}
.classmenu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}
.subMenu{
    background: #fbf3d4;
    color: #085e55;
    width: 60%;

}
input, select, option, textarea{
    font-family: 'FonteReforma' , sans-serif; 
    font-size: 13pt;  
    padding-top: 7px;
    padding-left: 10px;
    width: 100%; 
    text-align: left;
    background: transparent;
    border: 1px solid #085e55;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea:focus, input:focus, select:focus, textarea {
    box-shadow: 0 0 0 0;
    outline: 0;
}
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .300); 
    font-size: 11pt;
}
    
::-webkit-textarea-placeholder {
    color: rgba(0, 0, 0, .300); 
    font-size: 11pt;
}

.fullbtn{
    font-family: 'FonteReforma' , sans-serif; 
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    border: 0px;
    font-size: 13pt;
    margin: 5px auto 15px auto;
    box-shadow: 1px 1px 4px black;

}
.fullbtn:focus{
    border: 0 none;
    outline: 0;
    border-style: solid;

}
.coluna1{
    width: 60%; 
    text-align: left; 
    padding: 9px 7px 5px 5px; 
    border: 0px solid #0B4C5F;
}
.coluna2{
    width: 40%; 
    text-align: right; 
    padding: 5px; 
    border: 0px solid red;
}

.colunaA{
    width: 30%; 
    text-align: left; 
    padding: 5px; 
    border: 0px solid red;
}
.colunaB{
    width: 35%; 
    text-align: center; 
    padding: 5px; 
    border: 0px solid red;
}
.colunaC{
    width: 35%; 
    text-align: center; 
    padding: 5px; 
    border: 0px solid red;
}



.tableResultado{
    border-collapse: collapse;
    font-size: 10pt;
}
.tableResultado tr{
    border: 1px solid red;
}
.alinha{
    padding: 5px 2px 0px 2px; 
    
}

ul {
    margin: 1%;
    padding: 0;
    list-style: none;
    width: 98%;
    border: 0.5px solid #085e55;
}

ul li {
position: relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
    }

ul li a {
    display: block;
    text-decoration: none;
    color: #085e55;
    background: #fff;
    padding: 5px;
    border: 0.5px solid #085e55; 
}
 /* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */

#politicajust{
text-align: justify;
text-indent:2em 
}

.divCentroVertical{
    align-items: center; 
    display: flex;  
    flex-direction: row;  
    flex-wrap: wrap; 
    justify-content: center;
}

.divcentro{
    border:1px solid #085e55; 
    border-radius: 3%; 
    padding: 10px;
    box-shadow: 1px 1px 4px black;
    width: 100%;
}
.redeImg{
    border: 1px solid green;
    width: 20%;
    position: relative;
}
.redeTexto{
    border: 1px solid blue;
    width: 80%;
    position: relative;
}

@media screen and (min-width: 480px){
    .conteudo{
       margin: 70px 10px 10px 10px;
       font-size: 15pt;
    }
    .conteudo1{
        margin: auto;
    }
    .tableResultado{
        font-size: 15pt;
    }
    input, select, option, textarea{
        font-family: 'FonteReforma' , sans-serif; 
        font-size: 15pt;  
    }
    ::-webkit-input-placeholder {
        font-size: 15pt;
    }
        
    ::-webkit-textarea-placeholder {
        font-size: 15pt;
    }
    .fullbtn{
        font-size: 15pt;
    }
    .cabecalho{
        height: 60px;
        line-height:400%;
    }
    .botaoMenu{
        margin: 22px 3px 0px 0px;
    }
    .botaoVoltar{
        margin: 18px 0px 0px -7px;
    }
    .card{
        width: 47%; 
        float: left;
        margin: 8px 12px 8px 10px;   
    }
    .card img{
        width: 100%;
        box-shadow: 1px 1px 4px black;
        border-radius: 10px;
    }
    .card figcaption{
        height: 93%;
    }
    .botao{
        width: 70%;  
        margin: 20px auto auto auto;
        
    }
    .botao img{
        width: 100%;
        height: 100px;
        box-shadow: 1px 1px 4px black;
        border-radius: 10px;
    }
    .botao figcaption{
        height: 92%;
        line-height: 90px;

    }
    
}